In [1]:
#STRING

In [1]:
#1
str = input("enter a string to reverse it:")
reversed_str = str[::-1]
print("reversed string: ", reversed_str)

enter a string to reverse it: hello

reversed string:  olleh

In [4]:
#2
str = input("enter string:")
str = str.lower()
i = 0
j = len(str) - 1
ans = True
while i <= j:
    if str[i] != str[j]:
        ans = False
        break
    i+=1
    j-=1
    
if ans == True:
    print("string is palindrome")
else:
    print("string is not palindrome")

enter string: abba

string is palindrome

In [6]:
#3
str = input("enter string to convert it to uppercase:")
print(str.upper())

enter string to convert it to uppercase: google

GOOGLE

In [5]:
#4
str = input("enter string to convert it to lowercase:")
print(str.lower())

enter string to convert it to lowercase: GOOGLE

google

In [8]:
#5
str = input("enter a string to count number of vowels in it")
vowels = "aeiouAEIOU"
vowel_count = 0
for i in str:
    if i in vowels:
        vowel_count += 1
        
print("number of vowels in the given string is: ", vowel_count)

enter a string to count number of vowels in it hello world

number of vowels in the given string is:  3

In [10]:
#6
str = input("enter a string to count number of consonents in it")
vowels = "aeiouAEIOU"
consonent_count = 0
for i in str:
    if i not in vowels and i != " ":
        consonent_count += 1
        
print("number of consonent in the given string is: ", consonent_count)

enter a string to count number of consonents in it hello world

number of consonent in the given string is:  7

In [1]:
#7
original_string = input("enter string:")
no_whitespace_string = original_string.replace(" ", "")
print(no_whitespace_string)

enter string: hello    how  are   you

hellohowareyou

In [3]:
#8
str = input("enter string")
length = 0
for i in str:
    length += 1
    
print("length of string: ", length)

enter string hello world

length of string:  11

In [2]:
#9
str = input("enter string:")
specific_word = input("enter word to find in string str:")
if specific_word in str:
    print(f"The string str contains the word '{specific_word}'.")
else:
    print(f"The string str does not contain the word '{specific_word}'.")

enter string: hello my name is xyz
enter word to find in string str: name

The string str contains the word 'name'.

In [6]:
#10
str = input("enter string:")
old_word = input("enter word to replace:")
new_word = input("enter word to replace with:")
new_string = str.replace(old_word, new_word)
print(f"new string: {new_string} ")

enter string: hello, my name is abc
enter word to replace: abc
enter word to replace with: xyz

new string: hello, my name is xyz

In [8]:
#11
main_string = "This is a sample sentence. This sample sentence is just an example."
word_to_count = "sample"

count = main_string.count(word_to_count)
print(f"The word '{word_to_count}' appears {count} times in the string.")

The word 'sample' appears 2 times in the string.

In [9]:
#12
main_string = "This is a sample sentence. This sample sentence is just an example."
word_to_find = "sample"

first_occurrence_index = main_string.find(word_to_find)

if first_occurrence_index != -1:
    print(f"The word '{word_to_find}' first appears at index {first_occurrence_index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'sample' first appears at index 10.

In [10]:
#13
main_string = "This is a sample sentence. This sample sentence is just an example."
word_to_find = "sample"

last_occurrence_index = main_string.rfind(word_to_find)

if last_occurrence_index != -1:
    print(f"The word '{word_to_find}' last appears at index {last_occurrence_index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'sample' last appears at index 32.

In [13]:
#14
str = input("enter string: ")
word_list = str.split()
print(word_list)

enter string:  hello my name is xyz

['hello', 'my', 'name', 'is', 'xyz']

In [2]:
#15
lst = ['This', 'is', 'a', 'sample', 'sentence.']
print(' '.join(lst))

This is a sample sentence.

In [3]:
#16
original_string = "This is a sample sentence."

underscore_string = original_string.replace(" ", "_")
print(underscore_string)

This_is_a_sample_sentence.

In [5]:
#17
str = "This is a sample sentence."
specific_word = "This"

if str.startswith(specific_word):
    print(f"the string str starts with '{specific_word}'")
else:
    print(f"the string str does not start with '{specific_word}'")

the string str starts with 'This'

In [9]:
#18
str = "This is a sample sentence."
specific_word = "sentence."

if str.endswith(specific_word):
    print(f"the string str ends with '{specific_word}'")
else:
    print(f"the string str does not end with '{specific_word}'")

the string str ends with 'sentence.'

In [11]:
#19
str = "hello, world"
title_case = str.title()
print(title_case)

Hello, World

In [15]:
#20
str = "this is a sample sentence"
str_lst = str.split()
longest_word = ""
for word in str_lst:
    if len(word) > len(longest_word):
        longest_word = word
        
print(f"longest word in string str is: {longest_word}")

longest word in string str is: sentence

In [18]:
#21
str = "this is a sample sentence"
str_lst = str.split()
smallest_word = str_lst[0]
for word in str_lst:
    if len(word) < len(smallest_word):
        smallest_word = word
        
print(f"longest word in string str is: {smallest_word}")

longest word in string str is: a

In [19]:
#22
str = input("enter string:")
reversed_str = str[::-1]
print(f"reversed string : '{reversed_str}'")

enter string: hello

reversed string : 'olleh'

In [27]:
#23
str = input("enter string:")
if str.isalnum():
    print("string str is aplha-numeric")
else:
    print("string str is not alpha-numeric")

enter string: 12abcd

string str is aplha-numeric

In [36]:
#24
str = "there are 7 days in a week, 30 days in a month and 365 days in a non leap year"
digits = []
for i in str:
    if i.isnumeric():
        digits.append(i)
print(digits)

['7', '3', '0', '3', '6', '5']

In [39]:
#25
str = "Hello i am 21 years old"
alphabets = []
for i in str:
    if i.isalpha():
        alphabets.append(i)
print(alphabets)

['H', 'e', 'l', 'l', 'o', 'i', 'a', 'm', 'y', 'e', 'a', 'r', 's', 'o', 'l', 'd']

In [2]:
#26
str = "This is a SAMPLE Sentence"
uppercase_count = 0
for i in range(0, len(str)):
    if str[i].isupper():
        uppercase_count += 1
print(f"the number of uppercase alphabets is: '{uppercase_count}'")

the number of uppercase alphabets is: '8'

In [3]:
#27
str = "This is a SAMPLE Sentence"
lowercase_count = 0
for i in range(0, len(str)):
    if str[i].islower():
        lowercase_count += 1
print(f"the number of uppercase alphabets is: '{lowercase_count}'")

the number of uppercase alphabets is: '13'

In [6]:
#28
str = "THIS is a SAMPLE sentence"
for i in range(0, len(str)):
    if str[i].isupper():
        str[i].lower()
    else:
        str[i].upper()
print(str)

THIS is a SAMPLE sentence

In [1]:
#29
original_string = "This is a sample sentence. This sample sentence is just an example."
word_to_remove = "sample"

updated_string = original_string.replace(word_to_remove, "")
print(updated_string)

This is a  sentence. This  sentence is just an example.

In [3]:
#30
def is_valid_email(email):
    if '@' in email and '.' in email:
        parts = email.split('@')
        if len(parts) == 2 and parts[0] and parts[1]:
            domain_parts = parts[1].split('.')
            if all(domain_parts):
                return True
    return False

email_address = input("enter email")

if is_valid_email(email_address):
    print("The email address is valid.")
else:
    print("The email address is not valid.")

enter email xyz@gamil.com

The email address is valid.

In [4]:
#31
email_address = "example@example.com"

username = email_address.split('@')[0]
print("Username:", username)

Username: example

In [6]:
#32
email_address = "example@xyz.com"

domain = email_address.split('@')[1]
print("domain name:", domain)

domain name: xyz.com

In [9]:
#33
str = "this    is   a sample     sentence"
processed_str = " ".join(str.split())
print(processed_str)

this is a sample sentence

In [1]:
#34
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except:
        return False

url = "https://www.google.com"
if is_valid_url(url):
    print("The URL is valid.")
else:
    print("The URL is not valid.")

The URL is valid.

In [5]:
#35
url = "https://google.com"
protocol = url.split(":")[0]
print("protocol is: ", protocol)

protocol is:  https

In [6]:
#36
input_string = input("Enter a string: ")

char_frequency = {}

for char in input_string:
    char_frequency[char] = char_frequency.get(char, 0) + 1

for char, freq in char_frequency.items():
    print(f"'{char}' appears {freq} times")

Enter a string:  this is a sample sentence

't' appears 2 times
'h' appears 1 times
'i' appears 2 times
's' appears 4 times
' ' appears 4 times
'a' appears 2 times
'm' appears 1 times
'p' appears 1 times
'l' appears 1 times
'e' appears 4 times
'n' appears 2 times
'c' appears 1 times

In [19]:
#37
import string

punctuations = string.punctuation
str = "this is a sample sentence #"

for i in str:
    if i in punctuation:
        str.replace(i, "")
    print(i, end="")

this is a sample sentence #

In [23]:
#38
str = input("enter string")
if str.isdigit():
    print("string contains only digit")
else:
    print("string contains characters other than digits")

enter string 332314

string contains only digit

In [25]:
#39
str = input("enter string")
if str.isalpha():
    print("string contains only alphabets")
else:
    print("string contains characters other than alphabets")

enter string hello1

string contains characters other than alphabets

In [28]:
#40
str = "Hello i am 21 years old"
alphabets = []
for i in str:
    alphabets.append(i)
print(alphabets)

['H', 'e', 'l', 'l', 'o', ' ', 'i', ' ', 'a', 'm', ' ', '2', '1', ' ', 'y', 'e', 'a', 'r', 's', ' ', 'o', 'l', 'd']

In [30]:
#41
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

str1 = input("Enter the first string: ")
str2 = input("Enter the second string: ")

if are_anagrams(str1, str2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter the first string:  rohan
Enter the second string:  haron

The strings are anagrams.

In [3]:
#42 not done

In [4]:
#43 not done

In [10]:
#44
str = "Hello my name is xyz . my age is 21. This is a sample sentence"
words = str.split()

word_count = {}

for i in words:
    if i in word_count:
        word_count[i] += 1
    else:
        word_count[i] = 1

max_count = 0
key = 0
for i in word_count:
    if word_count[i] > max_count:
        max_count = word_count[i]
        key = i
print(f"'{key}' appears maximum number of times that is: {max_count}")

'is' appears maximum number of times that is: 3

In [15]:
#45
str = "Hello my name is xyz. my age is 21. This is a sample sentence"
words = str.split()

word_count = {}

for i in words:
    if i in word_count:
        word_count[i] += 1
    else:
        word_count[i] = 1
print("unique words: ", end="")
for i in word_count:
    if word_count[i] == 1:
        print(f"'{i}',", end=" ")

unique words: 'Hello', 'name', 'xyz.', 'age', '21.', 'This', 'a', 'sample', 'sentence',

In [14]:
#46
#not done

In [26]:
#47
str = "this is a sample sentence %"
char = str.split()
valid = True
for i in char:
    if i.isalnum():
        valid = True
    else:
        valid = False
if valid:
    print("string does not contain special characters")
else:
    print("string contains special characters")

string contains special characters

In [33]:
#48
str = "This is a sample sentence"
words = str.split()
pos = int(input("enter the position of the word you have to remove"))
pos -= 1
for i in range(0, len(words)):
    if i == pos:
        words.remove(words[pos])
print(" ".join(words))

enter the position of the word you have to remove 2

This a sample sentence

In [38]:
#49
str = "This is a sentence"
words = str.split()
pos = int(input("enter position"))
word = input("enter word to be added")
for i in range(0, len(words)):
    if i == pos:
        words.insert(pos, word)
print(" ".join(words))

enter position 3
enter word to be added sample

This is a sample sentence

In [ ]:
#50
#not done

In [39]:
#LIST

In [42]:
#1
lst = list(range(1, 11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
#2
lst = [1, 2, 4, 6, 3, 11, 4]
length = 0
for i in lst:
    length += 1
print("length of list is: ", length)

length of list is:  7

In [46]:
#3
lst = [1, 2, 4, 6, 3, 11, 4]
print("old list: ", lst)
lst.append(5)
print("new list: ", lst)

old list:  [1, 2, 4, 6, 3, 11, 4]
new list:  [1, 2, 4, 6, 3, 11, 4, 5]

In [47]:
#4
lst = [1, 2, 4, 6, 3, 11, 4]
print("old list: ", lst)
lst.insert(0, 5)
print("new list: ", lst)

old list:  [1, 2, 4, 6, 3, 11, 4]
new list:  [5, 1, 2, 4, 6, 3, 11, 4]

In [49]:
#5
lst = [1, 2, 4, 6, 3, 11, 4]
print("old list: ", lst)
lst.remove(1)
print("new list: ", lst)

old list:  [1, 2, 4, 6, 3, 11, 4]
new list:  [2, 4, 6, 3, 11, 4]

In [51]:
#6
lst = [1, 2, 4, 6, 3, 11, 4]
print("old list: ", lst)
lst.pop(0)
print("new list: ", lst)

old list:  [1, 2, 4, 6, 3, 11, 4]
new list:  [2, 4, 6, 3, 11, 4]

In [2]:
#7
lst = [1, 2, 4, 6, 3, 11, 4]
x = int(input("enter element to check in the list:"))
if x in lst:
    print("element exists in list")
else:
    print("element do not exist")

enter element to check in the list: 11

element exists in list

In [6]:
#8
lst = [1, 2, 4, 6, 3, 11, 4]
x = int(input("enter element: "))
print(f"index of first occurence of {x} is: {lst.index(x)}")

enter element:  4

index of first occurence of 4 is: 2

In [2]:
#9
lst = [1, 2, 4, 5, 6, 1, 2, 3, 7, 1, 9, 2, 1]
x = int(input("enter element to find its occurence:"))
count = 0
for i in lst:
    if x == i:
        count += 1
print(f"the occurence count of '{x}' in list is: {count}")

enter element to find its occurence: 1

the occurence count of '1' in list is: 4

In [5]:
#10
lst = [1, 2, 4, 6, 3, 11, 4]
print("old list: ", lst)
lst.reverse()
print("reversed list: ", lst)

old list:  [1, 2, 4, 6, 3, 11, 4]
reversed list:  [4, 11, 3, 6, 4, 2, 1]

In [8]:
#11
lst = [1, 2, 4, 6, 3, 11, 4]
print("old list: ", lst)
lst.sort()
print("sorted list in ascending order: ", lst)

old list:  [1, 2, 4, 6, 3, 11, 4]
sorted list in ascending order:  [1, 2, 3, 4, 4, 6, 11]

In [9]:
#12
lst = [1, 2, 4, 6, 3, 11, 4]
print("old list: ", lst)
lst.sort(reverse=True)
print("sorted list in descending order: ", lst)

old list:  [1, 2, 4, 6, 3, 11, 4]
sorted list in descending order:  [11, 6, 4, 4, 3, 2, 1]

In [10]:
#13
lst = []
for i in range(1, 21):
    if i%2 == 0:
        lst.append(i)
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
#14
lst = []
for i in range(1, 21):
    if i%2 != 0:
        lst.append(i)
print(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [13]:
#15
lst = [1, 2, 4, 6, 3, 11, 4]
sum = 0
for i in lst:
    sum += i
print("sum: ", sum)

sum:  31

In [15]:
#16
lst = [1, 2, 4, 6, 3, 11, 4]
maximum = lst[0]
for i in range(0, len(lst)):
    if lst[i] > maximum:
        maximum = lst[i]
print("maximum value in the list is: ", maximum)

maximum value in the list is:  11

In [19]:
#17
lst = [1, 2, 4, 6, 3, 11, 4]
minimum = lst[0]
for i in range(0, len(lst)):
    if lst[i] < minimum:
        minimum = lst[i]
print("maximum value in the list is: ", minimum)

maximum value in the list is:  1

In [21]:
#18
lst = []
for i in range(1, 11):
    lst.append(i*i)
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
#19
import random
lst = []
for i in range(1, 11):
    lst.append(random.randint(1, 10))
print(lst)

[2, 7, 6, 7, 1, 1, 4, 9, 4, 9]

In [30]:
#20
lst = [2, 7, 6, 7, 1, 1, 4, 9, 4, 9]
print(list(set(lst)))

[1, 2, 4, 6, 7, 9]

In [31]:
#21
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = [element for element in list1 if element in list2]

print("Common elements:", common_elements)

Common elements: [4, 5]

In [37]:
#22
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

difference = [element for element in list1 if element not in list2]

print("different elements:", difference)

different elements: [1, 2, 3]

In [39]:
#23
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

for i in list2:
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [40]:
#24
lst = [1, 2, 4, 6, 3, 11, 4]
for i in range(0, len(lst)):
    lst[i] *= 2
print(lst)

[2, 4, 8, 12, 6, 22, 8]

In [41]:
#25
lst = [1, 2, 4, 6, 3, 11, 4]
even_lst = []
for i in lst:
    if i%2 == 0:
        even_lst.append(i)
print("even numbers in list lst are: ", even_lst)

even numbers in list lst are:  [2, 4, 6, 4]

In [42]:
#26
str_lst = ['1', '2', '4', '6', '3', '11', '4']
int_lst = []
print("string list: ", str_lst) 
for i in str_lst:
    int_lst.append(int(i))
print("integer list: ", int_lst)

string list:  ['1', '2', '4', '6', '3', '11', '4']
integer list:  [1, 2, 4, 6, 3, 11, 4]

In [43]:
#27
int_lst = [1, 2, 4, 6, 3, 11, 4]
str_lst = []
print("integer list: ", int_lst)
for i in int_lst:
    str_lst.append(str(i))
print("string list: ", str_lst)

integer list:  [1, 2, 4, 6, 3, 11, 4]
string list:  ['1', '2', '4', '6', '3', '11', '4']

In [45]:
#28
#not done

In [48]:
#29
def fib(n):
    if n == 0 or n == 1:
        return n
    return fib(n-1) + fib(n-2)

for i in range(1, 11):
    print(fib(i), end=" ")

1 1 2 3 5 8 13 21 34 55

In [50]:
#30
def is_sorted(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True

my_list = [1, 1, 2, 3, 4, 5]
sorted_status = is_sorted(my_list)

if sorted_status:
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

In [51]:
#31
lst = [1, 2, 3, 4, 5]
positions = int(input("enter the rotation number of list:"))
positions %= len(lst)
rotated_lst = lst[positions:] + lst[:positions]
print(rotated_lst)

enter the rotation number of list: 2

[3, 4, 5, 1, 2]

In [56]:
#32
lst = [1, 2, 3, 4, 5]
positions = int(input("enter the rotation number of list:"))
positions %= len(lst)
rotated_lst = lst[-positions:] + lst[:-positions]
print(rotated_lst)

enter the rotation number of list: 2

[4, 5, 1, 2, 3]

In [60]:
#33
prime_lst = []
for i in range(0, 51):
    prime_lst.append(i)
prime_lst[0] = 0
prime_lst[1] = 0

p = 2
while p*p <= len(prime_lst):
    if p != 0:
        for i in range(2*p, len(prime_lst), p):
            prime_lst[i] = 0
        p += 1

for i in range(len(prime_lst)):
    if prime_lst[i] != 0:
        print(prime_lst[i], end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [61]:
#34
#not done

In [62]:
#35
lst = [1, 4, 5, 2, 8, 19, 32]
lst.sort(reverse=True)
print("second largest number in the list is: ", lst[1])

second largest number in the list is:  19

In [63]:
#36
lst = [1, 4, 5, 2, 8, 9, 3]
for i in range(0, len(lst)):
    lst[i] = lst[i]*lst[i]
print(lst)

[1, 16, 25, 4, 64, 81, 9]

In [64]:
#37
#not done

In [1]:
#38
import random

lst = [1, 4, 5, 2, 8, 9, 3]
random.shuffle(lst)
print(lst)

[9, 4, 1, 3, 5, 2, 8]

In [2]:
#39
def fac(n):
    if n <= 1:
        return n
    return fac(n-1)*n

for i in range(1, 11):
    print(fac(i), end=" ")

1 2 6 24 120 720 5040 40320 362880 3628800

In [6]:
#40
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = [i for i in list1 if i in list2]
if len(common_elements) >= 1:
    print("two lists have at least one element in common.")
else:
    print("two lists dont have at least one element in common.")

two lists have at least one element in common.

In [8]:
#41
lst = [1, 4, 5, 2, 8, 9, 3]
lst.clear()
print(lst)

[]

In [10]:
#42
lst = [1, -4, 5, -2, -8, 9, 3]
for i in range(0, len(lst)):
    if lst[i] < 0:
        lst[i] = 0
print(lst)

[1, 0, 5, 0, 0, 9, 3]

In [15]:
#43
str = "this is a sample sentence"
lst = str.split()
print(lst)

['this', 'is', 'a', 'sample', 'sentence']

In [16]:
#44
lst = ['this', 'is', 'a', 'sample', 'sentence']
str = ' '.join(lst)
print(str)

this is a sample sentence

In [20]:
#45
lst = []
n = 10
for i in range(1, n+1):
    lst.append(pow(2, i))
print(lst)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [21]:
#46
lst = ['this', 'is', 'a', 'sample', 'sentence']
longest_word = max(lst, key=len)
print(f"longest word in list is: '{longest_word}'")

longest word in list is: 'sentence'

In [22]:
#47
lst = ['this', 'is', 'a', 'sample', 'sentence']
smallest_word = min(lst, key=len)
print(f"smallest word in list is: '{smallest_word}'")

smallest word in list is: 'a'

In [25]:
#48
lst = []
n = int(input("enter value of n upto which you want first `n` triangular numbers:"))
for i in range(1, n+1):
    x = (i*(i+1))//2
    lst.append(x)
print(lst)

enter value of n upto which you want first `n` triangular numbers: 10

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [29]:
#50
lst = [1, 2, 3, 4, 5]
index1 = 2
index2 = 0
lst[index1], lst[index2] = lst[index2], lst[index1]
print(lst)

[3, 2, 1, 4, 5]

In [30]:
#49
#not done

In [31]:
#TUPLE

In [32]:
#1
tup = (1, 2, 3, 4, 5)
print(tup)

(1, 2, 3, 4, 5)

In [35]:
#2
tup = (1, 2, 3, 4, 5)
print(tup[2])

3

In [37]:
#3
tup = (1, 2, 3, 4, 5)
length = 0
for i in tup:
    length += 1
print("length of tuple is: ", length)

length of tuple is:  5

In [38]:
#4
tup = (1, 2, 3, 4, 5, 1, 3, 2, 4, 2, 1)
x = 1
count = 0
for i in tup:
    if i == x:
        count += 1
print(f"occurence of {x} in tuple is: {count}")

occurence of 1 in tuple is: 3

In [41]:
#5
tup = (1, 2, 3, 4, 5, 1, 3, 2, 4, 2, 1)
print("index of 4 in tuple is: ", tup.index(4))

index of 4 in tuple is:  3

In [5]:
#6
tup = (1, 4, 6, 2, 19, 23, 43, 56, 77, 11, 99)
x = int(input("enter element to find: "))

if x in tup:
    print("element present in tuple")
else:
    print("element is not present in tuple")

enter element to find:  1

element present in tuple

In [6]:
#7
tup = (1, 2, 3, 4, 5)
lst = list(tup)
print(lst)

[1, 2, 3, 4, 5]

In [7]:
#8
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

In [8]:
#9
tup = (1, 2, 3)
a, b, c = tup
print("Value of a:", a)
print("Value of b:", b)
print("Value of c:", c)

Value of a: 1
Value of b: 2
Value of c: 3

In [10]:
#10
tup = tuple(i for i in range(2, 11, 2))
print(tup)

(2, 4, 6, 8, 10)

In [13]:
#11
tup = tuple(i for i in range(1, 11, 2))
print(tup)

(1, 3, 5, 7, 9)

In [14]:
#12
tup1 = (1, 2, 3)
tup2 = (3, 4, 5)
concatenated_tuple = tup1 + tup2
print(concatenated_tuple)

(1, 2, 3, 3, 4, 5)

In [16]:
#13
tup = (1, 2, 3)
print(tup*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [20]:
#14
tup = ()
if not tup:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [21]:
#15
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [22]:
#16
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print(nested_tuple[0][0])

1

In [26]:
#17
tup = (1,)
print(tup)

(1,)

In [31]:
#18
tup1 = (1, 2, 3)
tup2 = (3, 4, 5)
print("max of both the tuples is :", max(tup1, tup2))
print("min of both the tuples is:", min(tup1, tup2))

max of both the tuples is : (3, 4, 5)
min of both the tuples is: (1, 2, 3)

In [35]:
#19
tup = (1, 3, 5, 7, 9)
print("before deletion: ",tup)
del tup
print("after deletion:")
print(tup)

before deletion:  (1, 3, 5, 7, 9)
after deletion:

NameError: name 'tup' is not defined

In [36]:
#20
tup = (1, 2, 3, 4, 5)
sliced_tuple = tup[1:3]
print("sliced tuple: ", sliced_tuple)

sliced tuple:  (2, 3)

In [41]:
#21
tup = (1, 4, 2, 88, 54, 992, 23, 102)
print("maximum value in the tuple is: ",max(tup))

maximum value in the tuple is:  992

In [40]:
#22
tup = (-10, 4, 2, 88, 54, 992, 23, 102)
print("minumum value in the tuple is: ",min(tup))

minumum value in the tuple is:  -10

In [43]:
#23
str = "hello world"
tup = tuple(str)
print(tup)

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [53]:
#24
char_tuple = ('H', 'e', 'l', 'l', 'o')

char_string = ''.join(str(char) for char in char_tuple)

print("Converted string:", char_string)

TypeError: 'str' object is not callable

In [54]:
#25
mixed_tup = (1, "hello", True, 2.5)
print(mixed_tup)

(1, 'hello', True, 2.5)

In [57]:
#26
tup1 = (1, 2 , 3)
tup2 = (1, 2, 3)
if tup1 == tup2:
    print("both the tuples are identical")
else:
    print("both the tuples are not identical")

both the tuples are identical

In [61]:
#27
tup = (1, 4, 2, 6, 10, -4)
lst = list(tup)
print(tuple(sorted(lst)))

(-4, 1, 2, 4, 6, 10)

In [62]:
#28
tup = (1, 2, 3, 4, 5)
str_tuple = tuple('{}'.format(item) for item in tup)
print(str_tuple)

('1', '2', '3', '4', '5')

In [63]:
#29
tup = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(item) for item in tup)
print(int_tuple)

(1, 2, 3, 4, 5)

In [65]:
#30
tup1 = (1, 2 , 3)
tup2 = (4, 5, 6)
tup1 = tup1 + tup2
print(tup1)

(1, 2, 3, 4, 5, 6)

In [66]:
#31
#not done

In [68]:
#32
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

prime_count = 0
number = 2
prime_numbers = []

while prime_count < 5:
    if is_prime(number):
        prime_numbers.append(number)
        prime_count += 1
    number += 1

prime_tuple = tuple(prime_numbers)

print(prime_tuple)

(2, 3, 5, 7, 11)

In [71]:
#33
tup = (1, 2, 3, 3, 2, 1)
i = 0
j = len(tup) - 1
is_palindrome = True
while i<=j :
    if tup[i] != tup[j]:
        is_palindrome = False
        break
    i += 1
    j -= 1

if is_palindrome:
    print("tuple is palindrome")
else:
    print("tuple is not a palindrome")

tuple is palindrome

In [74]:
#34
lst = []
for i in range(1, 6):
    lst.append(i*i)
tup = tuple(lst)
print(tup)

(1, 4, 9, 16, 25)

In [77]:
#35
tup = (1, 3, 2, 6, 18, 19, 20, 14, 23, 25, 26)
lst = []

for i in tup:
    if i%2 == 0:
        lst.append(i)
print(tuple(lst))

<generator object <genexpr> at 0x7ff015178120>

In [78]:
#36
tup = (1, 2, 3, 4, 5)
new_tuple = tuple(i*2 for i in tup)
print(new_tuple)

(2, 4, 6, 8, 10)

In [82]:
#37
import random

random_tuple = tuple(random.randint(1, 100) for i in range(5))

print("Tuple of random numbers:", random_tuple)

Tuple of random numbers: (38, 10, 82, 98, 99)

In [85]:
#38
tup = (2, 4, 4, 5, 6)
sort = True
for i in range(0, len(tup)-1):
    if tup[i] > tup[i+1]:
        sort = False
        break
if sort:
    print("tuple is sorted")
else:
    print("tuple is not sorted")

tuple is sorted

In [86]:
#39
def rotate_left_tuple(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)
n_positions = 2

rotated_tuple = rotate_left_tuple(original_tuple, n_positions)

print("Original tuple:", original_tuple)
print(f"Tuple rotated to the left by {n_positions} positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Tuple rotated to the left by 2 positions: (3, 4, 5, 1, 2)

In [87]:
#40
def rotate_right_tuple(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)
n_positions = 2

rotated_tuple = rotate_right_tuple(original_tuple, n_positions)

print("Original tuple:", original_tuple)
print(f"Tuple rotated to the right by {n_positions} positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Tuple rotated to the right by 2 positions: (4, 5, 1, 2, 3)

In [88]:
#41
def fib(n):
    if n<2:
        return n
    return fib(n-1) + fib(n-2)

tup = tuple(fib(i) for i in range(1, 6))
print(tup)

(1, 1, 2, 3, 5)

In [93]:
#42
size = int(input("enter size of the tuple"))
tup = tuple(int(input(f"enter value at index {i}: ")) for i in range(0, size))
print(tup)

enter size of the tuple 4
enter value at index 0:  1
enter value at index 1:  2
enter value at index 2:  3
enter value at index 3:  4

(1, 2, 3, 4)

In [95]:
#43
tup = (1, 2, 3, 4, 5)
index1 = 2
index2 = 3
print("original tuple: ", tup)
lst = list(tup)
lst[index1], lst[index2] = lst[index2], lst[index1]

swapped_tuple = tuple(lst)
print("swapped tuple: ", swapped_tuple)

original tuple:  (1, 2, 3, 4, 5)
swapped tuple:  (1, 2, 4, 3, 5)

In [96]:
#44
tup = (1, 2, 3, 4, 5)
lst = list(tup)
reversed_list = lst[::-1]
reversed_tuple = tuple(reversed_list)
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [102]:
#45
n = int(input("enter value of n: "))
tup = tuple(pow(2, i) for i in range(0, n+1))
print(tup)

enter value of n:  4

(1, 2, 4, 8, 16)

In [2]:
#46
tup = ("apple", "banana", "pineapple", "kiwi", "orange")
longest_str = ''
for i in tup:
    if len(i) > len(longest_str):
        longest_str = i

print("longest string int the string tuple is: ", longest_str)

longest string int the string tuple is:  pineapple

In [3]:
#47
tup = ("apple", "banana", "pineapple", "kiwi", "orange")
shortest_str = tup[0]
for i in tup:
    if len(i) < len(shortest_str):
        shortest_str = i

print("shortest string int the string tuple is: ", shortest_str)

shortest string int the string tuple is:  kiwi

In [5]:
#48
n = int(input("enter value of n"))
tup = tuple((i*(i+1))//2 for i in range(1, n+1))
print(tup)

enter value of n 5

(1, 3, 6, 10, 15)

In [6]:
#49
#not done

In [7]:
#50
n = int(input("enter size of tuple"))
tup = tuple(1 if i%2 == 0 else 0 for i in range(0, n+1))
print(tup)

enter size of tuple 10

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [8]:
#SET

In [5]:
#1
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [6]:
#2
my_set = {1, 2, 3, 4}
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [7]:
#3
s = {1, 2, 3, 4, 5}
s.discard(5)
print(s)

{1, 2, 3, 4}

In [8]:
#4
s = {1, 2, 3, 4, 5}
x = 3
if x in s:
    print(f"{x} exists in the set")
else:
    print(f"{x} do not exist in the set")

3 exists in the set

In [9]:
#5
s = {1, 2, 3, 4, 5}
length = 0
for i in s:
    length += 1
print("the length of the set is: ", length)

the length of the set is:  5

In [22]:
#6
s = {1, 2, 3, 4, 5}
s.clear()
print("empty set: ",s)

empty set:  set()

In [23]:
#7
s = {2, 4, 6, 8, 10}
print("even numbers set: ",s)

even numbers set:  {2, 4, 6, 8, 10}

In [24]:
#8
s = {1, 3, 5, 7, 9}
print("odd numbers set: ",s)

odd numbers set:  {1, 3, 5, 7, 9}

In [26]:
#9
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = s1.union(s2)
print("union os s1 and s2 is: ",s3)

union os s1 and s2 is:  {1, 2, 3, 4, 5}

In [27]:
#10
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s3 = s1.intersection(s2)
print("intersection of s1 and s2 is: ",s3)

intersection of s1 and s2 is:  {2, 3}

In [30]:
#11
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s3 = s1.difference(s2)
print("difference of s1 and s2 is: ", s3)

difference of s1 and s2 is:  {1, 2}

In [31]:
#12
s1 = {1, 2, 3, 4, 5}
s2 = {2, 3, 4}
if s2.issubset(s1):
    print("s2 is subset of s1")
else:
    print("s2 is not a subset of s1")

s2 is subset of s1

In [11]:
#13
s1 = {1, 2, 3, 4, 5}
s2 = {1, 2, 3}

if s1.issuperset(s2):
    print("s2 is superset of s1")
else:
    print("s2 is not superset of s1")

s2 is superset of s1

In [14]:
#14
lst = [1, 2, 3, 4, 5]
s = set(lst)
print(s)

{1, 2, 3, 4, 5}

In [17]:
#15
s = {1, 2, 3, 4, 5}
lst = list(s)
print(lst)

[1, 2, 3, 4, 5]

In [28]:
#16
my_set = {1, 2, 3, 4, 5}
my_set.remove(2)
print(f"Updated set: {my_set}")

Updated set: {1, 3, 4, 5}

In [29]:
#17
my_set = {1, 2, 3, 4, 5}
my_set.pop()
print(f"Updated set: {my_set}")

Updated set: {2, 3, 4, 5}

In [32]:
#18
s1 = {1, 2, 3}
s2 = {4, 5, 6}
if s1.union == False:
    print("s1 and s2 dont have anything in common")
else:
    print("s1 and s2 have elements in common")

s1 and s2 have elements in common

In [36]:
#19
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print("symmetric difference of s1 and s2 is: ",s1.symmetric_difference(s2))

symmetric difference of s1 and s2 is:  {1, 2, 4, 5}

In [40]:
#20
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.update(s2)
print("updated set s1: ", s1)

updated set s1:  {1, 2, 3, 4, 5}

In [41]:
#21
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

In [42]:
#22
s1 = {1, 2, 3}
s2 = {1, 2, 3}
if s1 == s2:
    print("s1 and s2 are identical")
else:
    print("s1 and s2 are not identical")

s1 and s2 are identical

In [45]:
#23
s = {1, 2, 3, 4, 5}
frozen_set = frozenset(s1)
print(frozen_set)

frozenset({1, 2, 3})

In [46]:
#24
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("set1 and set2 are disjoint")
else:
    print("set1 and set2 are not disjoint")

set1 and set2 are disjoint

In [48]:
#25
s = set(i*i for i in range(1, 6))
print(s)

{1, 4, 9, 16, 25}

In [3]:
#26
s1 = {1, 4, 2, 8, 10, 12, 18, 14}
s2 = {i for i in s1 if i%2 == 0}
print(s2)

{2, 4, 8, 10, 12, 14, 18}

In [11]:
#27
s1 = {1, 2, 3, 4, 5}
s2 = {i*2 for i in s1}
print(s2)

{2, 4, 6, 8, 10}

In [14]:
#28
import random
s = {random.randint(1, 100) for _ in range(1, 11)}
print(s)

{6, 71, 73, 10, 9, 41, 11, 49, 86, 90}

In [16]:
#29
s = {}
if not s:
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [17]:
#30
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8})}
print(nested_set)

{frozenset({3, 4, 5}), frozenset({8, 6, 7}), frozenset({1, 2})}

In [19]:
#31
s = {1, 2, 3, 4, 5}
s.discard(2)
print("updated set: ", s)

updated set:  {1, 3, 4, 5}

In [21]:
#32
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if(set1 == set2):
    print("s1 and s1 have same elements")

s1 and s1 have same elements

In [33]:
#33
string = "hello world"
s = set(str.split())
print(s)

{'world', 'hello'}

In [28]:
#34
string_set = {"1", "2", "3", "4", "5"}

integer_set = set(map(int, string_set))

print(integer_set)

{1, 2, 3, 4, 5}

In [36]:
#35
integer_set = {1, 2, 3, 4, 5}
string_set = set(map(str, integer_set))
print(string_set)

TypeError: 'str' object is not callable

In [38]:
#36
tup = (1, 2, 3, 4, 5)
print("tuple: ", tup)
print("set: ", set(tup))

tuple:  (1, 2, 3, 4, 5)
set:  {1, 2, 3, 4, 5}

In [39]:
#37
s = {1, 2, 3, 4, 5}
print("set: ", s)
print("tuple: ", tuple(s))

set:  {1, 2, 3, 4, 5}
tuple:  (1, 2, 3, 4, 5)

In [41]:
#38
s = {1, 5, 10, 13, 19, 23}
print("maximum value in the set is: ", max(s))

maximum value in the set is:  23

In [42]:
#39
s = {1, 5, 10, 13, 19, 23}
print("minimum value in the set is: ", min(s))

minimum value in the set is:  1

In [45]:
#40
s = set()

while True:
    element = input("Enter an element (or 'done' to finish): ")
    if element.lower() == 'done':
        break
    s.add(element)

print("Set from user input:", s)

Enter an element (or 'done' to finish):  2
Enter an element (or 'done' to finish):  1
Enter an element (or 'done' to finish):  4
Enter an element (or 'done' to finish):  done

Set from user input: {'2', '4', '1'}

In [49]:
#41
s1 = {1, 2, 3}
s2 = {4, 5, 6}
s3 = s1.intersection(s2)
print("intersecton of s1 and s2: ", s3)
if len(s3) < 1:
    print("intersection of two sets is empty.")
else:
    print("intersection of two sets is not empty.")

intersecton of s1 and s2:  set()
intersection of two sets is empty.

In [62]:
#42
def fib(n):
    if n <= 2:
        return n
    return fib(n-1) + fib(n-2)
s = set()
for i in range(0, 5):
    s.add(fib(i))
print(s)

{0, 1, 2, 3, 5}

In [63]:
#43
lst = [1, 2, 2, 3, 4, 4, 5, 5]
unique_list = list(set(lst))

print(unique_list)

[1, 2, 3, 4, 5]

In [64]:
#44
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [68]:
#45
n = 5
s = {pow(2, i) for i in range(1, n+1)}
print(s)

{32, 2, 4, 8, 16}

In [69]:
#46
s = {2, 4, 6, 8}
lst = [4, 6, 10, 12]

common_elements = s.intersection(lst)
print("common elements in set and list are: ", common_elements)

common elements in set and list are:  {4, 6}

In [71]:
#47
n = 5
s = {(i*(i+1))//2 for i in range(1, n+1)}
print(f"set of the first `{n}` triangular numbers: ", s)

set of the first `5` triangular numbers:  {1, 3, 6, 10, 15}

In [72]:
#48
s = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
subset = {2, 4, 6, 8}

if subset.issubset(s):
    print("subset is a subset of s")
else:
    print("subset is not a subset of s")

subset is a subset of s

In [74]:
#49
n = 10
s = {i % 2 for i in range(n)}
print(s)

{0, 1}

In [75]:
#50
s1 = {1, 2, 3}
s2 = {4, 5, 6}
s3 = {7, 8, 9}
merged_set = s1.union(s2, s3)
print("merged set: ", merged_set)

merged set:  {1, 2, 3, 4, 5, 6, 7, 8, 9}